{% extends 'base.twig' %}

{% block title %}Панель администратора{% endblock %}

{% block content %}
    <div class="container">
        <h1>Панель администратора</h1>
    </div>      
{% endblock %}   