<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="wrapper">
    <header>
        {# <div class="container"> #}
            {# <h1>FAQ</h1> #}
        {# </div> #}
        <nav class="navbar">
            <div class="container container-fluid">
                <div class="navbar-header">
                    <h1><a href="{{route('index')}}">FAQ</a></h1>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{route('home')}}">Войти</a></li>
                </ul>
            </div> 
        </nav>
    </header>

</nav>
    
    {% block content %}
    {% endblock %}
    
    <footer>
        <div class="container">
        <p> &copy; 2018 Denis Bondrenko</p>
        </div>
    </footer>
    </div>
</body>
</html>
{% block javascripts %}
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}