<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>FAQ</h1>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
    <footer>
        <div class="container">
        <p> &copy; 2018 Denis Bondrenko</p>
        </div>
    </footer>
</body>
</html>
{% block javascripts %}
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}