{% extends 'base.twig' %}

{% block title %}FAQ{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-2 aside">
            <h2>Темы</h2>    
        </div>
        <div class="col-md-10">
            <h2>Название темы</h2>
        </div>
    </div>

</div>   
{% endblock %}   