{% extends 'base.twig' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="container">
        <div class="login">
            <h2>Авторизация</h2>
        </div>
    </div>      
{% endblock %}   