* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: Arial, sans-serif; */
}

.container {
    position: relative;
    height: 100%;    
    width: 1170px;
    margin: 0 auto;
}

header {
    color: #fff;
    background: #0082BA;
}

header h1 {
    font-weight: bold;
}

footer {
    position: absolute
    width: 100%;
    padding-top: 64px;
    bottom: 0;
    background-color: #f8f8f8;
}

form > * {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 80%;
}


/* ==== Login page ==== */

.login {
    width:  600px;
    margin: 0 auto;
    padding: 0 0 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
}

.login input {
    margin: 0 auto 10px;
}

.login input:not([name="action"])
{
    display: block;
}

.login label {
    display: block;
}

.error {
    font-weight: bold;
    font-size: 0.8em;
    color:  red;
}