{% extends 'base.twig' %}

{% block title %}Новая тема{% endblock %}

{% block content %}
<div class="container">
    <h2>Редактировать тему</h2> 
    <hr>
        <form method="get" action="" accept-charset="utf8">
        <textarea name="title" value="" placeholder="Название темы" required>{{c.title}}</textarea>
        <input type="submit" name="submit" value="Сохранить" class="btn btn-success">
    </form>
</div>   
{% endblock %}   