{% extends 'base.twig' %}

{% block title %}Изменить пароль{% endblock %}

{% block content %}
<div class="container">
    <h2>Изменить пароль</h2> 
    <hr>
    <form method="get" action="" accept-charset="utf8">
        <input type="password" name="password" value="{{user.password}}" placeholder="Пароль" id="form_password" required>
        <input type="submit" name="submit" value="Сохранить" class="btn btn-success">
    </form>
</div>   
{% endblock %}   